{% load static %}

<div class="header-brand py-4 py-lg-4">
    <div class="container">
        <div class="row align-items-center gy-gs gx-5">
            <div class="col-4 col-lg-2">
                <div class="brand-item h-40px">
                    <img src={% static 'images/brand/a.png' %} alt="">
                </div>
            </div><!-- .col -->
            <div class="col-4 col-lg-2">
                <div class="brand-item h-40px">
                    <img src={% static 'app/images/brand/b.png' %} alt="">
                </div>
            </div><!-- .col -->
            <div class="col-4 col-lg-2">
                <div class="brand-item h-40px">
                    <img src={% static 'app/images/brand/c.png' %} alt="">
                </div>
            </div><!-- .col -->
            <div class="col-4 col-lg-2">
                <div class="brand-item h-40px">
                    <img src={% static 'app/images/brand/d.png' %} alt="">
                </div>
            </div><!-- .col -->
            <div class="col-4 col-lg-2">
                <div class="brand-item h-40px">
                    <img src={% static 'app/images/brand/e.png' %} alt="">
                </div>
            </div><!-- .col -->
            <div class="col-4 col-lg-2">
                <div class="brand-item h-40px">
                    <img src={% static 'app/images/brand/f.png' %} alt="">
                </div>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .header-brand -->