<div class="header-content my-auto py-5 is-dark">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center justify-content-between g-gs">
            <div class="col-lg-6">
                <div class="header-image header-image-s2">
                    <img src="https://dashlite.net/landing/images/header/gfx-b.png" alt="">
                </div><!-- .header-image -->
            </div><!-- .col- -->
            <div class="col-lg-5 col-md-10">
                <div class="header-caption">
                    <div class="header-badge">
                        <span class="badge bg-primary badge-md">Version 2.4</span>
                    </div>
                    <h1 class="header-title fw-medium">Tools Made For Creative Profesional</h1>
                    <div class="header-text">
                        <p>Powerful dashboard template that especially build for developers and
                            programmers. DashLite comes with all kind of components.</p>
                    </div>
                    <ul class="header-action btns-inline">
                        <li><a href="#start-free-trial" class="btn btn-danger btn-lg"><span>Get Started</span></a></li>
                        <li><a class="link link-block link-primary popup-video"
                                href="https://www.youtube.com/watch?v=SSo_EIwHSd4"><em
                                    class="icon icon-lg ni ni-play-circle"></em><span>Watch
                                    video</span></a></li>
                    </ul>
                </div><!-- .header-caption -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .header-content -->